h1, h2, p {
  font-family: "Cinzel", serif;
}


.book {
  background: url("../../../public/images/book.png");
  background-repeat: no-repeat;
  width: 665px;
  height: 440px;
  display: grid;
  grid-template-columns: 348px 266px;
  grid-template-rows: 375px 32px;
}

.right-page {
  display: grid;
  align-content: center;  
  padding-top: 18px;
}

.left-page {
  display: grid;
}

.pre-page {
  border: none;      
  background: transparent;
  cursor: pointer;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid rgba(59, 0, 0, 0.99);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: self-start;
  padding-left: 2.7rem;
}


.next-page {
  border: none;      
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid rgba(59, 0, 0, 0.99);
  grid-column: 2 / 3;
  justify-self: end;
}

h1 {
  color: rgba(59, 0, 0, 0.99);
  font-size: larger;
}

p {
  color: rgba(59, 0, 0, 0.99);
  font-size: medium;
}

.menthe {
  width: 19rem;
  transform: translateX(71px) translateY(86px);
}

.lin {
      width: 19rem;
    transform: translateX(42px) translateY(86px);
}

.iriss {
    width: 19rem;
    transform: translateX(42px) translateY(86px);
}

.chardon {
   width: 19rem;
    transform: translateX(42px) translateY(86px);
}